<!-- The @restaurant instance variable given by the controller -->
<!-- REMEMBER: views know nothing except what the controller gives -->
<!-- We use instance variable to interface controllers with views -->
<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<a href="/restaurants">Restaurants list</a>
